<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Performance Platform admin</title>
    {% include "includes.html" %}
  </head>
  <body>

     <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <div class="row">
              <div class="col-lg-6">
                {% if dashboards %}
                  <h1>Select Dashboard</h1>
                  <form method="post" action="{{ url_for('clone_module', target_dashboard_uuid=target_dashboard_uuid) }}" role="form" class="form-horizontal frm-dashboard">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <select name="dashboard_uuid">
                    {% for dashboard in dashboards %}
                      <option value="{{dashboard.id}}">
                        {{ dashboard.title }}
                      </option>
                    {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-success" value="Get modules" name="modules_for_dashboard">
                  </form>
                {% endif %}
              </div><!-- /.col-lg-6 -->
              <div class="col-lg-6">
                {% if modules %}
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="module-select" data-toggle="dropdown" aria-expanded="true">
                    Select module 
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="module-select">
                    {% for module in modules %}
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="{{'{}?clone_module={}'.format(target_dashboard_url, module.id)}}">{{ module.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
                <!--
                {% if modules %}
                  <h1>Select Module</h1>
                  <form method="post" action="{{ current_url }}" role="form" class="form-horizontal frm-dashboard">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <select name="module_id">
                    {% for module in modules %}
                      <option value="{{module.id}}">
                        {{ module.title }}
                      </option>
                    {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-success" value="Clone module" name="clone_module">
                  </form>
                {% endif %}
                -->
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div>


        </div>

      </div>

    </div>   

  </body>
</html>
