{% extends "base.html" %}

{% block body %}

<section id="dashboard-hub">
  <header class="keyline-separator">
    <span class="hint">Your dashboard</span>
    <h1>{{ dashboard_title }}</h1>
    <small>Manage the data and content displayed on your dashboard</small>
  </header>

  <section class="keyline-separator">
    <header>
      <h1>About the dashboard</h1>
    </header>

    <form method="POST" action="{{ url_for('dashboard_hub', uuid=uuid) }}" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      <div class="form-group">
        {{ form.title.label }}
        <div class="row">
          <p class="col-sm-12 col-md-6 side-hint-md">
            The name that will be shown at the top of your dashboard
          </p>
          <div class="col-sm-12 col-md-6">
            {{ form.title(class='form-control') }}
          </div>
        </div>
      </div>

      <div class="form-group">
        {{ form.description.label }}
        <div class="row">
          <p class="col-sm-12 col-md-6 side-hint-md">
            The description that will be show at the bottom of your dashboard
          </p>
          <div class="col-sm-12 col-md-6">
            {{ form.description(class='form-control') }}
          </div>
        </div>
      </div>

      <input type="submit" class="btn btn-success" value="Update dashboard" name="submit-dashboard">
    </form>
  </section>

  <section class="keyline-separator">
    <header>
      <h1>Dashboard data</h1>
    </header>

    <section class="dashboard-data-item">
      <div class="row">
        <header class="col-md-3">
          <h1>User satisfaction</h1>
        </header>


        {% if "user-satisfaction-score" in modules %}
          <p class="advisory col-sm-12"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Data successfully set up</p>
        {% else %}
          <div class="col-md-5">
            <p>
              To calculate your user satisfaction you will need:
            </p>

            <ul>
              <li>a feedback page on GOV.UK</li>
            </ul>

            <p><a href="https://www.gov.uk/service-manual/measurement/user-satisfaction.html">Find out more about feedback pages and user satisfaction</a></p>
            <p><a href="{{ url_for('add_user_satisfaction', uuid=uuid) }}" class="btn btn-info">Add user satisfaction</a></p>
          </div>
        {% endif %}
      </div>
    </section>

    <section class="dashboard-data-item">
      <div class="row">
        <header class="col-md-3">
          <h1>Digital take-up</h1>
        </header>

        {% if "digital-takeup" in modules %}
          <p class="advisory col-sm-12"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Data successfully set up</p>
        {% else %}
            <div class="col-md-5">
              <p>
                To calculate your digital take-up you will need:
              </p>

              <ul>
                <li>data for how many people complete the transaction using the digital service</li>
              </ul>

              <p><a href="https://www.gov.uk/service-manual/communications/increasing-digital-takeup.html">Find out more about digital take-up</a></p>
              <p><a href="{{ url_for('upload_options', uuid=uuid) }}" class="btn btn-info">Add digital take-up</a></p>
            </div>
          {% endif %}
      </div>
    </section>
  </section>

  <footer>
    <p>
      <a href="{{ preview_url }}" class="btn btn-info" target="_blank">Preview dashboard</a>
    </p>
    <form method="POST" action="{{ url_for('send_dashboard_for_review', uuid=uuid) }}" role="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="submit" class="btn btn-success" value="Send dashboard for review" name="send-dashboard-for-review">
    </form>
    <div class="row callout">
      <p class="col-sm-8 col-md-6">
        Once you send for review, it will take up to 3 working days for us to review
        and publish your dashboard.
      </p>
    </div>
  </footer>
</section>

{% endblock %}
