{% extends "base.html" %}

{% block body %}

<h1>Your dashboards</h1>

{% if user_has_feature('big-edit', user) %}
<p>
    <a href="{{ url_for('dashboard_form') }}" class="btn btn-primary" role="button">Create a dashboard</a>
</p>
{% endif %}

<p class="end-section">Manage the data and content to be displayed on your dashboards</p>

{% if dashboards %}
  <ul id="dashboard-list">
  {% for dashboard in dashboards %}
      <li>
          <div class="row">
              <div class="col-sm-12 col-md-7 title">
                  <strong>
                      {{ dashboard.title }}
                  </strong>
                  <span class="hint">
                      {{ dashboard.status | format_status }}
                  </span>
              </div>
              <ul class="col-sm-12 col-md-5 buttons">
                  {% if user_has_feature('edit-dashboards', user) and dashboard.status == "unpublished" %}
                    <li><a class='btn btn-success' href="{{ url_for('dashboard_hub', uuid=dashboard.id) }}">Edit dashboard</a></li>
                  {% endif %}
                  {% if user_has_feature('big-edit', user) %}
                    <li><a class='btn btn-success' href="{{ url_for('dashboard_form', uuid=dashboard.id) }}"><strong>BIG EDIT</strong></a></li>
                    <li><a class='btn btn-success' href="{{ url_for('dashboard_clone', uuid=dashboard.id) }}">Clone</a></li>
                  {% endif %}
                  <li><a class='btn btn-primary' href="{{ dashboard['public-url'] }}" target="_blank">Preview</a></li>
              </ul>
          </div>
      </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock %}
