{% extends "base.html" %}

{% block body %}

<div class="row">
  <div class="col-sm-8 col-md-6">
    <div class="confirmation-box">
      <h1 class="h3">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Application submitted
      </h1>
      <p>We'll email you when your account and dashboard are set up</p>
    </div>
  </div>
</div>

<h2 class="h4">What happens next</h2>

<div class="row">
  <p class="col-sm-8 col-md-6">
    We will use these details to check your eligibility for a performance
    dashboard and create you a GOV.UK Signon account with a template
    dashboard into which you can add your data.
  </p>
</div>

{% endblock %}
