<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Performance Platform admin</title>
    {% include "includes.html" %}
</head>

<body class="environment-{{environment.name}}">
    {% include "navbar/nav.html" %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">{{ message | safe }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}

        <footer id="admin-footer">
            <p>
                Created by the <a href="https://www.gov.uk/performance">Performance Platform</a> team
                at the <a href="https://gds.blog.gov.uk/">Government Digital Service</a>.
            </p>
        </footer>

    </div>
    {% block footer_javascripts %}{% endblock %}
</body>

</html>
