{% extends "base.html" %}

{% block title %}Upload data{% endblock %}

{% block body %}

<div class="row">
  {% if upload_okay_message %}
    {% include "upload/upload_okay.html" %}
  {% else %}
    <div class="col-xs-4">
      <h3>Upload data to the Performance Platform</h3>
    </div>
  {% endif %}
</div>

<div class="row">

  <div class="col-xs-4">
    <div class="callout callout-warning">
      <strong>Make sure that the data you are providing:</strong>
      <ul>
        <li>contains no personal data of any kind</li>
        <li>has been signed off by your Senior Information Risk Officer</li>
        <li>does not exceed IL0 confidentiality</li>
      </ul>
    </div>
    <small>
      If your dataset isn't listed, email
      <a href="mailto:performance@digital.cabinet-office.gov.uk">
        performance@digital.cabinet-office.gov.uk
      </a>
    </small>
  </div>

  <div class="col-xs-8">
    <hr>
    {% if data_sets %}
      <ul class="list-unstyled data-group-list">
        {% for group_name in data_sets|sort %}
        <li data-name={{group_name}}>
          <h3 class="data-group-name">{{ group_name }}</h3>
          <ul class="list-unstyled data-set-list">
            {% for data_set in data_sets[group_name]|sort(attribute='data_type') %}
            <li>
              {% include "upload/form.html" %}
              {% if upload_data and upload_data.data_group == data_set.data_group and upload_data.data_type == data_set.data_type %}
                <div class="upload-messages">
                {% if upload_data.payload|length == 0 %}
                  <p>Your data uploaded successfully. In about 20 minutes your data will appear on the relevant dashboards</p>
                {% else %}
                  <p class="text-danger">Upload failed - errors:</p>
                  <ul class="upload-messages">
                    {% for message in upload_data.payload %}
                    <li class="text-danger">{{message}}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                </div>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You do not have access to any Performance Platform datasets.</p>
    {% endif %}
  </div>

</div>

{% endblock %}

{% block footer_javascripts %}
<script src='static/javascripts/dropzone-3.10.2/dropzone.min.js'></script>
<script src='static/javascripts/file_upload.js'> </script>
{% endblock %}
