{# Pre chosen file to be done in upload story#}
<form class="custom-form-inline" action="upload" method="post" enctype="multipart/form-data" role="form">
  <label class="sr-only" for="{{ data_set.data_group }}-{{ data_set.data_type }}-file">
    File to upload to {{ data_set.data_group }} {{ data_set.data_type }}
  </label>
  <span class="btn-file">
    Choose spreadsheet<input id="{{ data_set.data_group }}-{{ data_set.data_type }}-file" type="file" name="{{ data_set.data_group }}-{{ data_set.data_type }}-file">
  </span>

  <button class="btn btn-primary btn-xs" type="submit">Upload</button>
</form>
