<form class="custom-form-inline" action="/upload-data/{{ data_set.data_group }}/{{ data_set.data_type }}" method="POST" enctype="multipart/form-data" role="form">
  <label class="sr-only" for="{{ data_set.data_group }}-{{ data_set.data_type }}-file">
    File to upload to {{ data_set.data_group }} {{ data_set.data_type }}
  </label>
  <span class="btn-file">
    Choose spreadsheet<input id="{{ data_set.data_group }}-{{ data_set.data_type }}-file" type="file" name="file">
  </span>

  <button class="btn btn-primary btn-xs" type="submit">Upload</button>
</form>
