{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <h3>Add completion rate data</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
       <h1>
        Check your analytics set up
      </h1>

    </div>
</div>

<section>
  <div class="row">
    <div class="col-md-8">
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-8">
      <dl>
        <dt>Goal Title</dt>
        <dd>{{goal_name}}</dd>
        </br>
        <dt>Destination</dt>
        <dd>{{destination_url}}</dd>
        </br>
        <dt>Past 7 day conversions</dt>
        <dd>{{conversions}}</dd>
      </dl>
    </div>
  </div>
</section>

<p><a href='#'>Go back and choose a different goal</a></p>
<input type="submit" class="btn btn-success" value="Save this data" name="continue">


{% endblock %}
