<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Performance platform admin</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>(function(d){d.className=d.className.replace(/^no-js\b/,'js');}(document.documentElement));</script>

      <link href="/static/govuk_admin_template.css" media="all" rel="stylesheet" type="text/css" />
  

    <!--[if lte IE 8]>
      <script src="/assets/lte-ie8-fb09d812ddbe910d721b7468917cf96e.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body class="environment-production">
    <header class="
      navbar
      navbar-default
      navbar-inverse
      navbar-static-top
      environment-indicator
      add-bottom-margin" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-toggle" data-toggle="collapse" data-target="header .navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="/" class="navbar-brand">GOV.UK Transition</a>
            <div class="environment-label">
              Production
            </div>
        </div>
        <nav role="navigation" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                  <li  class="active" >
      <a href="/organisations/cabinet-office" title="Your organisation">Cabinet Office (CO)</a>
    </li>
    <li >
      <a href="/hits">Universal analytics</a>
    </li>
  <li >
    <a href="/glossary">Glossary</a>
  </li>

            </ul>
            <div class="navbar-text pull-right">
                Hello, <a href="https://signon.production.alphagov.co.uk">Jacob Ashdown</a>
  &bull; <a href="/auth/gds/sign_out">Sign out</a>

            </div>
        </nav>
      </div>
    </header>
    <section class="container">
      <main role="main">
        


      <ul class='breadcrumb'>
        <li><a href="/organisations">Organisations</a></li><li class="active">Cabinet Office</li>
      </ul>

  

<header>
  <div class="page-title">
    <h1>
      Cabinet Office
    </h1>
  </div>
  
</header>

  <h2>Sites</h2>
  <table class="sites table table-hover table-striped table-bordered">
    <thead>
      <tr class="table-header">
        <th scope="col">Old site</th>
        <th scope="col">Transition status</th>
        <th scope="col">Transition date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="/sites/cabinetoffice" class="breakable">www.cabinetoffice.gov.uk</a>
        </td>
        <td>
          Live

        </td>
        <td>21 February 2013</td>
      </tr>
      <tr>
        <td>
          <a href="/sites/cabinetoffice_digitalstandards" class="breakable">digitalstandards.cabinetoffice.gov.uk</a>
        </td>
        <td>
          Live

        </td>
        <td>24 January 2014</td>
      </tr>
      <tr>
        <td>
          <a href="/sites/cabinetoffice_gcloud" class="breakable">gcloud.civilservice.gov.uk</a>
        </td>
        <td>
          Live

        </td>
        <td>No date set</td>
      </tr>
      <tr>
        <td>
          <a href="/sites/cabinetoffice_gds" class="breakable">digital.cabinetoffice.gov.uk</a>
        </td>
        <td>
          Live

        </td>
        <td>18 January 2014</td>
      </tr>
      <tr>
        <td>
          <a href="/sites/cabinetoffice_midtermreview" class="breakable">midtermreview.cabinetoffice.gov.uk</a>
        </td>
        <td>
          Live

        </td>
        <td>14 January 2014</td>
      </tr>
      <tr>
        <td>
          <a href="/sites/cabinetoffice_procurement" class="breakable">procurement.cabinetoffice.gov.uk</a>
        </td>
        <td>
          Indeterminate
  <span class="text-muted">
    <i data-toggle="tooltip" title="Site is partially redirected via an aka domain" class="glyphicon glyphicon-question-sign"></i>
  </span>

        </td>
        <td>25 February 2014</td>
      </tr>
      <tr>
        <td>
          <a href="/sites/cabinetoffice_publications" class="breakable">publications.cabinetoffice.gov.uk</a>
        </td>
        <td>
          Live

        </td>
        <td>10 December 2013</td>
      </tr>
      <tr>
        <td>
          <a href="/sites/cabinetoffice_transactionsexplorer" class="breakable">transactionsexplorer.cabinetoffice.gov.uk</a>
        </td>
        <td>
          Live

        </td>
        <td>12 September 2013</td>
      </tr>
      <tr>
        <td>
          <a href="/sites/directgov_innovate" class="breakable">innovate.direct.gov.uk</a>
        </td>
        <td>
          Live

        </td>
        <td>3 April 2014</td>
      </tr>
    </tbody>
  </table>

  <div data-module="go-to">
  <div class="modal js-go-to-mapping" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <header class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">
            Go to mapping
          </h3>
        </header>
        <div class="modal-body">
          <form accept-charset="UTF-8" action="/mappings/find_global" method="get" role="form"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
            <div class="form-group">
              <label for="url">Old URL</label>
              <input class="form-control" id="url" name="url" type="text" />
            </div>
            <button class="btn btn-success" name="button" type="submit">Go to mapping</button>
</form>        </div>
      </div>
    </div>
  </div>
</div>


      </main>
      <footer class="page-footer">
        
        <a class="inherit" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a>
          <span class="pull-right">Version: 7efcc46b27d</span>
      </footer>
    </section>
    
  </body>
</html>

