{% extends "base.html" %}

{% block title %}Performance platform admin{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        {% with messages = get_flashed_messages() %}
        <p>{{ message }}</p>
        {% endwith %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <h2>Performance platform admin</h2>
        <p>If you have a dashboard on the <a href="http://gov.uk/performance">performance platform</a> you can upload data using this tool</p>
        <p><a class="btn btn-success" href="/login">Sign in</a></p>
        <small>
          If you’re having trouble signing in or need 
          an account, email 
          <a href="mailto:performance@digital.cabinet-office.gov.uk">
            performance@digital.cabinet-office.gov.uk
          </a>
        </small>
      </div>
    </div>
</div>

{% endblock %}
