{% extends "base.html" %}

{% block title %}Performance Platform admin{% endblock %}

{% block body %}

<div class="row">
  <div class="col-xs-8">
    <h2>Performance Platform admin</h2>
    <p>
      If you have a dashboard on the <a href="https://www.gov.uk/performance">Performance Platform</a> you can upload data using this tool
    </p>
    <p>
      You do not currently have access to this application. In order to gain access, please email
      <a href="mailto:performance@digital.cabinet-office.gov.uk">
        performance@digital.cabinet-office.gov.uk.
      </a>
      Once you do have access you should be able to use this application by clicking the button below.
    </p>
    <p><a class="btn btn-success" href="/login">Try signing in again</a></p>
  </div>
</div>

{% endblock %}
