{% extends "base.html" %}

{% block title %}There's a problem with your data{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <h3>
          There’s a problem with your data
        </h3>
        <p>
          We tried to upload your data into the dataset 
          <strong>{{ data_set.data_group }} {{ data_set.data_type }}</strong>, 
          {% if problems %}
              but there were the following problems: 
          {% else %}
              but there was a problem.
          {% endif %}
        </p>
        {% if problems %}
          <div class="container">
              <div class="row flashes">
              {% for problem in problems %}
                  <div class="alert alert-danger">{{ problem }}</div>
              {% endfor %}
              </div>
          </div>
        {% endif %}
        <p>
          Make sure the format of your 
          spreadsheet exactly matches any example you have received, 
          then try uploading again.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% include "upload/form.html" %}
      </div>
    </div>
</div>
{% endblock %}
