// pyScss is buggy and occassionally outputs selectors in the wrong order.
// This leads to some selectors being overridden by less important ones, because
// ordering is important in CSS.
// Duplicate the below selector here so that it has a higher priority than in Bootstrap.
// See this bug in pyScss: https://github.com/Kronuz/pyScss/issues/269
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.module {
  border-bottom: 1px solid #333;
  margin: 2em 0;
}

.environment-label {
  margin-left: 15px;
  margin-bottom: 13px;
}

#admin-footer {
  border-top: 1px solid #999;
  margin-top: 3em;
  padding: 1em 0 2em;
}
