// pyScss is buggy and occassionally outputs selectors in the wrong order.
// This leads to some selectors being overridden by less important ones, because
// ordering is important in CSS.
// Duplicate the below selector here so that it has a higher priority than in Bootstrap.
// See this bug in pyScss: https://github.com/Kronuz/pyScss/issues/269
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

h1 {
  margin-top: 0;
}

ul.links {
  padding-left: 0;
  display: inline;
  list-style: none;
  font-size: inherit;

  li {
    display: inline-block;
    margin-left: 3px;
    border-left: 1px solid $gray-light;
    padding-left: 6px;

    &:first-child {
      border-left: none;
    }
  }
}

.module {
  border-bottom: 1px solid #333;
  margin: 2em 0;
}

.environment-label {
  margin-left: 15px;
  margin-bottom: 13px;
}

.keyline-separator {
  border-bottom: 1px solid $gray-light;
  margin-bottom: 5px;
  padding-bottom: 50px;
}

#admin-footer {
  border-top: 1px solid #999;
  margin-top: 3em;
  padding: 1em 0 2em;
}

textarea.json-field {
  height: 13em;
  white-space: pre-wrap;
  &.invalid {
    border: 1px solid red;
  }
}

.msg-invalid-json {
  color: red;
}
.hint {
  color: $gray-light;
}

.form-group p.hint {
  margin-bottom: 0;
}

.side-hint-md {
  color: $gray-light;
  margin-bottom: 0;

  @media (min-width: 992px) {
    float: right;
    margin-top: 5px;
  }
}

.confirmation-box {
  background-color: #6F9B95;
  color: #FFF;
  text-align: center;
  padding: 10px;

  h1 {
    margin-top: 10px;
    font-weight: normal;

    span.glyphicon {
      font-size: 75%;
    }
  }
}

.end-section {
    padding-bottom: 40px
}

#dashboard-list {
  list-style: none;
  padding: 0;

  > li {
     padding-top: 5px;
     margin-bottom: 30px;
     border-top: 1px solid $gray-light;

     .title {
       font-size: 150%;
       margin-bottom: 5px;
       @media (min-width: 992px) {
         float: left;
         width: 45%;
       }
     }
  }

  ul.buttons {
     list-style: none;
      @media (min-width: 992px) {
        float: right;
      }

     li {
       display: inline-block;
       margin-bottom: 5px;
     }
  }
}

.sticky-toolbar {
  z-index: 1;
}

.sticky-toolbar-inner {
  position: relative;
}
